{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}
    <h1>Online Store FAQ</h1>
<hr>
<h2>About us</h2>
<h3>We are selling different types of products.</h3>
<h3>Nowadays you can find a lot's of tech products as well as all other categories of products.</h3>
<h3>We hope that you will find that what you were looking for !</h3>
<hr>
<h1>FAQ</h1><hr>
<h2>1.    Q: How can I order</h2>
<h3>A: You can order easily using our online platform. When you find a product you need, you can add it to cart, login and go through the ordering process. After the order is ready, you will receive order summary to your email. Order summary will also be stored to your account.

You can also easily make reorders afterwards by clicking the reorder button on any of your previously made orders. After clicking the reorder button the cart will open and you can change quantities or products. </h3>
<hr>
<h2>2.    Q: Why should I buy online?</h2>
<h3>A: Speeding up the process. By ordering online you will you will get prices faster and you will be able to go through order confirmation and payment process much faster. This could save days of your time.

Traceability: You will have easy access to all of your previous orders any time you want.

Reordering:  you can make a re-order anytime based on your previous orders by only couple of clicks. This will save time and effort as you don’t need to go through all the documents and emails from the past.</h3>
<hr>
<h2>3.    Q: What information should I input when ordering?</h2>
<h3>A: our online ordering system will ask for all the important information you should submit. If you have a VAT number, please remember to submit it. This will make sure the shipment is not delayed because of the lack of VAT number</h3>
<hr>
<h2>4.    Q: What payment methods can I use?</h2>
<h3>A: You can use all the major credit cards.

If you are a customer with established customer relationship with our online shop. you are able to use invoice as a payment method on our online shopping checkout process.  If invoicing option is not activated for you although you are repeated customer, please contact pwr@edu.pl and notify us.</h3>
<hr>
<h2>5.    Q: Can I use pro-forma invoice?</h2>
<h3>A: Yes, you can use pro-forma invoice. Please contact pwr@edu.pl if you want to use pro-forma invoice.</h3>
<hr>
<h2>6.    Q: How can I change delivery address?</h2>
<h3>A: Sign in to your account and go to “my account”. On “my account” you can change all your contact information.</h3>
<hr>
<h2>7.    Q: What are the delivery charges?
</h2>
<h3>A: Delivery charges are dependent on the shipment requirements. If the products on your order are due to special requirements (for example dry ice) extra fee will be added to the shipment charges. You can see the shipping fees on the checkout process before the payment is made.</h3>
<hr>
<h2>8.    Q: What are the terms and conditions?</h2>
<h3>A: You can see the terms and conditions here</h3>
<hr>
<h2>9.    Q: How to contact customer service?</h2>
<h3>A: If you have question regarding our online store (ordering, account questions, technical questions), please contact pwr@edu.pl. </h3>
<hr>
<h2>10.    Q: Can I return a product?</h2>
<h3>A: If you want to return a product, please contact pwr@edu.pl</h3>
{% endblock %}