{% extends 'base.html' %}

{% block title %} All Products {% endblock %}

{% block content %}
<div class="container text-center">
    <h3 class="p-5 bg-warning bg-gradient">All Products</h3><hr>
    {% for cat in allcategories %}
    <h4 class="p-2 bg-warning bg-gradient">{{cat.title}}</h4><hr>
    <div class="row">
        {% for p in cat.product_set.all %}
        <div class="col-md-4">
            <div class="m-4 text-center" >
                <h4 class="mb-4"><a class="mb-4 text-dark" href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid" style="height: 4000; object-fit: cover;">
                <p class="mt-3">Price: <strike> $ {{p.marked_price}}</strike> $ {{p.selling_price}}</p>
                <div>
                <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-warning btn-lg mb-3">Add To Cart</a>
                <div class="text-center p-3 ">Stars <span>{% if p.get_rating == 0 %}No ratings yet{% else %}{{ p.get_rating|floatformat:1 }}{% endif %}⭐</span></div>
                <p class="p-1">Reviews ({{p.number_of_ratings}})</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}