{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <h1 class="text-center fw-bolder font-monospace p-5 bg-warning bg-gradient">Happy Shopping</h1>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        <label>Filter by</label>
        <div>
            <select style="padding: 10px;" name="sorts">
                <option  value="None" selected>Nothing</option>
                <option value="Time">Time</option>
                <option value="Reviews" >Reviews</option>
                <option value="Rating">Rating</option>
            </select>
        </div>
        <div>
            <button class="btn btn-warning" style="margin-top: 1rem; margin-bottom: 1rem !important;">Submit</button>
        </div>
    </form>
    <div class="row mt-3">
        {% for p in product_list %}
        <div class="col-md-4 card p-2">
            <div class="m-4 text-center">
                <h4 class="mb-4 text-center "><a class="text-dark" href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h4>
                <img src="{{p.image.url}}" alt="" class="img-fluid rounded mx-auto d-block" style="height: 300px; object-fit: contain;">
                <p class="mt-3">Price: <strike>$ {{p.marked_price}}</strike> $ {{p.selling_price}}</p>
                <button href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-warning btn-lg " type="button">Add To Cart</button>
                <div class="text-center p-3 ">Stars <span>{% if p.get_rating == 0 %}No ratings yet{% else %}{{ p.get_rating|floatformat:1 }}{% endif %}⭐</span></div>
                <p class="p-1">Reviews ({{p.number_of_ratings}})</p>
            </div>
            
        </div>
        {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pagination my-3">
            {% if product_list.has_previous %}
            <li class="page-item text-dark bg-warning">
                <a class="page-link text-dark bg-warning" href="?page={{ product_list.previous_page_number }}">Previous</a>
              </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link text-dark " href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}

            {% for i in product_list.paginator.page_range %}
            {% if i == product_list.number %}
            <li class="page-item active "><a class="page-link text-dark bg-warning">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link text-dark" href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}

            {% if product_list.has_next %}
            <li class="page-item text-dark">
                <a class="page-link text-dark bg-warning" href="?page={{ product_list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled text-dark">
                <a class="page-link " href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
      </nav>

</div>
{% endblock %}